<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
   {{> header}}
   <h1>Projects Page</h1>
   <p>My Projects here</p>
   {{> footer}}
  </body>
</html>
